/*------------------------------------------------------
   CAKE.RC programmed by Charles Petzold, November 1985
  ------------------------------------------------------*/

#include "windows.h"
#include "cake.h"

Cake MENU
BEGIN
    POPUP "Decoration"
        BEGIN
            MENUITEM "Settings", IDM_SETTINGS
        END
    POPUP "Candles"
        BEGIN
            MENUITEM "Burning", IDM_BURNING
        END
END

SettingsBox DIALOG 20, 20, 172, 90
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    LTEXT         "Cake Text:"            -1,   8, 10,  48,  8 
    EDITTEXT                     ID_CAKETEXT,  52,  8, 112, 12
    LTEXT         "Number of Candles:"    -1,   8, 28,  96,  8
    EDITTEXT                   ID_NUMCANDLES, 112, 26,  24, 12
    CHECKBOX "Flashing & Fireworks" ID_FLASH,   8, 46,  96, 12, BS_AUTOCHECKBOX
    DEFPUSHBUTTON "Ok"                  IDOK,  32, 68,  48, 14
    PUSHBUTTON    "Cancel"          IDCANCEL,  96, 68,  48, 14
END

